%section#portfolio.two  
  .container
    %header
      %h1 پیام ارسالی


    %p
      %b نام فرستنده
      = @message.name
    %p
      %b ایمیل فرستنده
      = @message.email
    %p
      %b تلفن تماس فرستنده
      = @message.phone_number
    %p
      %b پیام
      = @message.text

   
