- if notice.present?
  .alert.alert-success= notice


%p
  %b توضیحات تصویر:
  = @slide.description
%div= image_tag @slide.image(:geometry)
- if is_admin?
  = link_to 'ویرایش', edit_slide_path(@slide)

