%section#portfolio.two  
  .container
    %header
      %h1 = @article.title
    
    %p
      %b نویسنده:
      = @article.author
 
    %div    
      =raw @article.text

    - if is_admin?
      = link_to 'ویرایش', edit_article_path(@article)
      \|
      = link_to 'بازگشت', :back
