%section  
  .container
    %header
      - if @photo.title.present?
        %h1= 'ویرایش محصول ' + @photo.title + ' از زیرگروه ' + @photo.product.title_fa

      = render 'form'
    - if is_admin?
      = link_to 'ویرایش', @photo
      \|
      = link_to 'بازگشت', :back
