/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.clear-float {clear:both}
ul.menu {list-style:none; width:70%; float:right}
ul.menu li{display:inline}

ul.admin {width:20%; float:right}
li.admin-menu {font-size:20px;}
li.admin-menu:hover a{color:#FFFFFF}
.slide-descript {
  position: absolute;
  height: 4%;
  top:21.8%;
  text-align:right;
  padding:1%;
  width:965px;
  background-color: #222629;
  color:#fff;
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */

}
.admin-edit-del {position: absolute; top:0; width:50%; background:#E5E5E5; color:#000;}
.set-center {margin-right:auto; margin-left:auto}

section#top {height:680px;}
ul.admin-menu li{line-height:2px; }
#Container .mix{
    display: none;
}



article.item:hover a.image{  opacity:1; background-color:#1A8D1A}
article.item:hover a.image img{opacity:.3; position:relative}
article.item a.image img.link-icon{display:none; width:50px; height:50px; position:absolute; top:0; z-index:100}
article.item:hover a.image img.link-icon{display:block; }
article.item:hover {  
  margin-top:-10px;
  }
