/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.clear-float {clear:both}
ul.menu {list-style:none; width:70%; float:right}
ul.menu li{display:inline}

ul.admin {width:20%; float:right}
li.admin-menu {font-size:20px;}
li.admin-menu:hover a{color:#FFFFFF}
.slide-descript {
  position: absolute;
  height: 50px;
  bottom:0;
  text-align:right;
  width:100%;
  background-color: #222629;
  color:#fff;
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */

}
.admin-edit-del {position: absolute; top:0;  background:#E5E5E5; color:#000; left:0}
.set-center {margin-right:auto; margin-left:auto}

section#slide {height:290px;
position:relative;
top: 7%;
width: 100%;
z-index:100;
left:0;
right:0;
}
.hero-unit {height:100%}
.carousel {height:100%}
.carousel-inner {height:100%}
#nav ul.admin-menu, ul.admin-links {background:#1A1A1A;
  background: rgba(0,0,0,0.50);
  box-shadow: inset 0 0 0.25em 0 rgba(0,0,0,0.125);
  box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.05), inset 0 0.1em 0.1em 0 rgba(0,0,0,0.025);
}
#nav ul.admin-menu li, ul.admin-links li{line-height:1.5em; font-size:20px; text-align:center }
#nav ul.admin-menu li a, ul.admin-links li a {color:#fff}
#nav ul.admin-menu li:hover a, ul.admin-links li:hover a {color:#FFA500}
#Container .mix{
    display: none;
}
.row {z-index:0}
.title {color:#fff;}
.category_box {width:30%; margin:1%; text-align:center; float:right}
.category-title {
  margin:1%;
  color:#fff;
  border-radius:5px;
  background: rgba(0,1,0,0.50);
  box-shadow: inset 0 0 0.25em 0 rgba(0,1,0,0.125);
  box-shadow: inset 0 1px 0 0 rgba(0,1,0,0.05), inset 0 0.1em 0.1em 0 rgba(0,1,0,0.025);}
.category-title:hover {cursor:pointer;
  box-shadow: inset 0 0 2em 0 rgba(0,1,0,0.5);
  box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.5), inset 0 2em 2em 0 rgba(0,0,0,0.5);
}
.subgroups-title {border-radius:5px;
  width:48%;
  float:right;
  margin:1%;
  background: rgba(1,1,0,0.20);
  box-shadow: inset 0 0 0.25em 0 rgba(0,1,0,0.125);
  box-shadow: inset 0 1px 0 0 rgba(0,1,0,0.05), inset 0 0.1em 0.1em 0 rgba(0,1,0,0.025);
  font-size:15px;
  }
.subgroups-title:hover { background:#FFA500;
  cursor:pointer;
  box-shadow: inset 0 0 0.25em 0 rgba(0,1,0,0.125);
  box-shadow: inset 0 1px 0 0 rgba(0,1,0,0.05), inset 0 0.1em 0.1em 0 rgba(0,1,0,0.025);
}
article.item:hover a.image img{opacity:.7;
filter: alpha(opacity=70); /* For IE8 and earlier */
}
article.item a.image img.link-icon{display:none; width:50px; height:50px;
 position:absolute; top:40%;
 right:40%;
  z-index:100}
article.item:hover a.image img.link-icon{display:block; }
article.item:hover header{background:#1A1A1A; color:#fff;}
.carousel-control {padding-top:10%}
.row>* {float:right}
span.lable {color:#000}
.admin-links {background:#174517; color:#fff;}
.admin-links a:hover{color:#FFA500}
#date {font-size:15px; color:#fff; width:70%; float:right; text-align:right;
  position:relative; top:10%;
  padding-right:5%;
}
#search {font-size:15px; color:#fff; text-align:left;width:30%; float:right; left:0; position:relative;

}
.search_on_google {position: absolute;
margin-top:3%;
width: 100%;
right: 20%;}
.google-field {width: 64%;
float: right;
height: 40px;
font-size: 12px;
right: 18px;
position: absolute;}
.google-submit {
  width: 10%;
  float: right;
  position: absolute;
  left: 35%;
  padding-top:1%;
}
.top-site {
  background-image: url(image-path('bg.png'));  
  background-repeat:no-repeat;
  background-size:100%;
  width:100%;  position: fixed; right:0; left:0; height:130px;
  text-align:center;
  z-index:200;

}
.befor-top {width:100%; height:10px; background:#FFA500;
position: relative; top:0; right:0; left:0;
box-shadow: 0px 15px 3px 5px #286628;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
  z-index:100;
  box-shadow: inset 0 0 0.25em 0 rgba(0, 0, 0, 0.125);
}
.admin_nav_bar {width:20%; height:40px; background:#1A1A1A;
  font-size:16px;
  text-align:center;
  opacity: 0.7;
  filter: alpha(opacity=70); /* For IE8 and earlier */
  position:fixed;
  color:#fff;
  top:0;
  overflow:hidden;
   -webkit-transition: height 1s; /* For Safari 3.1 to 6.0 */
    transition: height 1s;
  z-index:300;
  }
.admin_nav_bar b {color:#FFA500; text-align:center; width:100%; font-size:1.5em}
.admin_nav_bar:hover {height:400px;}

.contact-name {padding:2%}
.slider_edit_box {width:1286px; height:200px;}
.google-field input[type="text"] {
  background: #FFA500;
  color: #000;
  height: 5px;
  width: 81%;
  position: absolute;
  font-size: 15px;
  top: 16%;
}
.product-box {height: 260px;
margin-bottom:3%;
margin-right:2%;
overflow: hidden;
float:right;
width:22%;
position: relative;}
.product-box .item {background:#fff}
.sub-pro-box {position:relative; height:450px; overflow:hidden}
.sub-pro-description {text-align:justify; font-size:18px}
.sub-pro-description p{text-align:justify; font-size:15px}
.sub-pro-description table {border: 2px solid #fff}
.sub-pro-description table tr{border: 2px solid #fff}
.sub-pro-description table tr td{border: 2px solid #fff; directory:rtl; text-align:center}
.sub-pro-title {text-align:center; }
.sub-pro-img {border:#4D4D4D solid 1px; border-radius:5px; background:#fff }
.sub-pro-box:hover .sub-pro-img {background:#FFFF58; opacity:.8; cursor:pointer}
.contact-text p{font-size:16px; margin: 0;
text-align: justify;}
.google-map {
  background-image: url(image-path('yaghootekavir_map.png'));  
  background-repeat:no-repeat;
  width:95%; height:580px;
  float:left;
  text-align:left;
}
.image.fit img.product-in-home-page {height:auto; width:80%}
