/* ==================================================
Font-Face Icons
================================================== */
@font-face {
    font-family: 'open_sansregular';
    src: url(font_path('BYekan.eot'));
    src: url(font_path('BYekan.eot?#iefix')) format('embedded-opentype'),
         url(font_path('BYekan.woff')) format('woff'),
         url(font_path('BYekan.ttf')) format('truetype'),
         url(font_path('BYekan.svg#open_sansregular')) format('svg');
    font-weight: normal;
    font-style: normal;
}


