/* ==================================================
Font-Face Icons
================================================== */
@font-face {
    font-family: 'open_sansregular';
    src: url('BYekan.eot');
    src: url('BYekan.eot?#iefix') format('embedded-opentype'),
         url('BYekan.woff') format('woff'),
         url('BYekan.ttf') format('truetype'),
         url('BYekan.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


