%section  
  .container
    %header   
      %h1= 'ویرایش گروه محصول  ' +  @category.title

    = render 'form'
    - if is_admin?
      = link_to 'ویرایش', @category
      \|
      = link_to 'بازگشت', :back
