%section  
  .container
    %header     
      %h1= 'ویرایش محصول ' + @product.title

    = render 'form'
    - if is_admin?
      = link_to 'مشاهده', @product
      \|
      = link_to 'بازگشت', :back
